.cards-container {
  padding: 40px;
}

.cards-subtitle {
  color: #86008f;
  font-family: "Josefin Sans", sans-serif;
  font-size: 46px;
  font-weight: 500;
  padding-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  background-color: #fff;
  color: #2d2d33;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: auto;
}

.card-figcaption {
  padding: 1rem;
}

.card-description {
  margin: 10px 10px;
}

.card-clothes {
  color: gray;
  font-size: 11px;
}

.card-name {
  color: #2d2d33;
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
}

.card-price {
  color: #2d2d33;
  font-size: 15px;
  font-weight: 600;
  padding-top: 8px;
  padding-bottom: 15px;
}

.card-product {
  display: flex;
  justify-content: center;
  color: #ffffff;
  background-color: #86008f;
  padding: 10px;
}

.card-product a {
  color: #fff;
}
