.carrito-container {
  max-width: 1302px;
  margin: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.cart-header {
  padding: 10px;
  background-color: #86008f;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.carrito {
  background-color: rgba(0, 0, 0, 0.1);
}

.cart-full {
  background-color: rgba(0, 0, 0, 0.1);
}

.empty-product-in-cart {
  border-radius: 4px;
  padding: 12rem 1rem;
  text-align: center;
}

.product-in-cart {
  background-color: rgb(0 0 0 / 90%);
  padding: 15px;
}

.container-pricetotal {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: rgb(0 0 0 / 90%);
}

.hr-cart {
  width: 97.7%;
  opacity: 80%;
  margin: 0 auto;
  color: #fff;
}

.pricetotal {
  padding-top: 10px;
  margin-right: 18px;
  margin-bottom: 20px;
  text-align: end;
}

.total {
  color: #fff;
}

.price {
  color: #fff;
  padding-left: 10px;
}

.emptycart-title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
}

.emptycart-text {
  color: rgb(85 85 85 / 95%);
  margin-bottom: 1rem;
}

.cart-button-container {
  text-align: end;
  margin-top: 20px;
  margin-right: 18px;
  padding-bottom: 20px;
}

.emptycart-button {
  cursor: pointer;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  background-color: #86008f;
  border: 0;
}

/* IN CART */
.product-carrito {
  border-bottom: 1px solid #fff;
  display: flex;
  padding: 15px;
  text-decoration: none;
}

.image-cart {
  width: 10%;
}

.info {
  margin-top: 10px;
  margin-left: 10px;
  width: 85%;
}

.product__title_carrito {
  display: flex;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.main__price__carrito {
  display: flex;
  margin: 15px 0;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  align-items: center;
  justify-content: space-between;
}

.price__promo__carrito {
  color: #a2a2a2;
  text-decoration: line-through;
  padding: 0 10px;
}

.cart__sumaresta {
  background-color: #86008f;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 90px;
  width: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__buttons {
  background-color: rgb(98 244 154 / 90%);
  color: #86008f;
  border: 0px;
  outline: 0;
  cursor: pointer;
}

.cart__input {
  background-color: #86008f;
  color: #fff;
  border: 0;
  text-align: center;
  width: 50%;
}

.main__gitemcontainer1 {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.main__gitem1 {
  width: 39%;
}

.boton-eliminar {
  cursor: pointer;
  background-color: rgb(0 0 0 / 10%);
  color: #86008f;
  border: none;
  font-size: 20px;
}
