.footer {
  padding-top: 50px;
  min-height: 20vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-footer:hover {
  transition: 1s;
  box-shadow: 0px 0px 66px 29px rgba(134, 0, 143, 0.74);
}

.img-f:hover {
  transition: 900ms;
  box-shadow: 0px 0px 66px 29px rgba(134, 0, 143, 0.74) inset;
}

.ul-footer-c {
  display: flex;
  padding-top: 30px;
}

.container-icon {
  padding: 15px;
}

.hover-linav-footer {
  color: #fff;
}

.hover-linav-footer:hover {
  color: #86008f;
}

.fa-icon {
  transition: all 0.3s;
  color: #fff;
}

.fa-icon:hover {
  transform: scale(0.8);
  color: #86008f;
}
