.header-main {
  background-color: #000;
  display: flex;
  align-items: center;
  max-width: 1302px;
  margin: auto;
}

/* logo */

.logo {
  width: 23.332%;
}

/* li */
.li-nav {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 17px;
}

.hover-linav {
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
}

.hover-linav:hover {
  color: #86008f;
}
/* ul container */
.ul-container {
  width: 61.931%;
}
/* icon carrito */
.iconcarrito-container {
  width: 14.401%;
}

.iconcarrito {
  position: relative;
  color: #fff;
  cursor: pointer;
  font-size: 38px;
}
.iconcarrito:hover {
  color: #86008f;
}

.iconcarrito::before {
  content: attr(data-counter);
  right: -0.3em;
  top: -0.3em;
  display: block;
  position: absolute;
  min-width: 1.6em;
  height: 1.6em;
  line-height: 1.5em;
  border-radius: 100%;
  color: #fff;
  background-color: #86008f;
  text-align: center;
  font-size: 10px;
}
